.images{
    height: 13rem;
    width:13.5rem;
    border-radius: 10px;
    margin: 5% 12.5%;
   
}
.pd-container{
    min-height: 16rem;
    min-width: 18rem;
    border-radius: 0.65rem;
    border: 1.5px solid #6751b9;
    backdrop-filter: blur(1rem);
    z-index: 20;
    cursor: pointer;
}
.pd-container:hover{
    box-shadow: 0 0 10px   #6751b9;
}
.pd-container h4{
    font-size: 1.5rem;
    text-align: center;
    padding: 4% 3%;
    color: white;
    text-decoration: none;
}
.datedomain{
    display: flex;
    justify-content: space-around;
    color: #b4a0fc;
}
a{
    text-decoration: none;
}